 .nav-cont-flexbox {
    position: sticky;
    top: 0px;
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    z-index: 10;
}

.nav-cont-flexbox a {
    color: white;
    text-decoration: none;
    font-family: "Fira Sans Condensed",sans-serif;
    font-size: 18px;
    margin-top: 30px;
    margin-right: 12px;
}

h1 {
  color: white;
  font-family: "Fascinate",system-ui;
}

 #carousel-flexbox {
   display: flex;
   justify-content: center;
   margin-top: 100px;
}

#carousel-window {
    width: 300px;
    height: 200px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0px 0px 12px #222;
}

#carousel {
    display: flex;
    transition: 0.5s ease;
    width: max-content;
}

img {
    width: 300px;
    height: 200px;
    opacity: 0.7;
}

img:hover {
    opacity: 1;
}

body {
    background-color: white;
}

#previous {
    filter: blur();
    background-color: #222;
    color: white;
    opacity: 0.9;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-top: 90px;
    z-index: 3;
}

#next {
    background-color: #222;
    color: white;
    opacity: 0.9;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-top: 90px;
    z-index: 3;
}

.description {
    font-family: "Blinker",sans-serif;
    text-align: center;
}
